<nav class="nav clearfix">
  <a class="nav-logo logo" href="/"></a>
  <button class="button nav-fb">Go to Facebook Page</button>	
</nav>
<section class="survey">
  <h3 class="survey-header">Does your pigeon need help? Know now!</h3>
  <p class="survey-description">Hey, Victoria! Welcome. I’d like to know more about the bird you found so I can help you find the right resources! </p>
  <div class="survey-container"><%= render 'form' %></div>
</section>


