<nav class="nav clearfix">
  <a class="nav-logo logo" href="/"></a>
  <div class="nav-buttons">
    <%= link_to 'Admin', new_admin_user_session_path, :class => 'button' %>
    <%= link_to 'Expert', new_user_session_path, :class => 'button' %>
  </div>
</nav>
<section class="survey">
  <h3 class="survey-header">Does your pigeon need help? Know now!</h3>
  <p class="survey-description">Welcome! I’d like to know more about the bird you found so I can help you find the right resources! </p>
  <div class="survey-container"><%= render 'form' %></div>
</section>