<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Palomacy's pigeon help, <%= @user.name %></h1>
    <p>
      You have been approved as a pigeon expert for our service.
      your account name is: <%= @user.email %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>