// Place all the styles related to the Survey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.survey {
  width: 540px;
  left: calc(50% - 270px);
  position: relative;
  top: 160px;
  margin-bottom: 40px;
}

.survey-card {
  /*    height: 97px;*/
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 20px 20px 25px 20px;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.survey-description {
  margin-bottom: 20px;
}
.survey-submit {
  margin-top: 10px;
}

.survey-container {
	margin-bottom: 20px;
}

.question {
  margin-bottom: 20px;
}

.answers {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.answer {
  color: rgba(0, 0, 0, 0.4);
  margin-right: 60px;
}

.answer input {
  margin: 0;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  vertical-align: bottom;
  bottom: 5px;
}
.answer label {
  margin-left: 5px;
}
.answer input[type=radio]:checked + label {
  color: #52bdec;
}

.answer input:checked {
  border-color: #52bdec;
  background-color: #52bdec;
}


